<!-- Modal -->
<div class="modal"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="false"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-shadow-22">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="close" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newUserForm" validate (ngSubmit)="onSubmit(newUserForm.value)">
                    <div class="ui-fluid">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                    <input type="text" pInputText placeholder="Username" formControlName="name">         
                                </div>
                            </div>
                            <div class="p-field p-col">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                                    <input type="text" pInputText placeholder="Date of birth" formControlName="birth"> 
                                </div>
                            </div>
                        </div>

                        <div class="p-grid p-fluid">
                            <div class="p-col-6 p-md-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
                                    <input type="text" pInputText placeholder="First phone" formControlName="phone1">         
                                </div>
                            </div>
                            <div class="p-col-6 p-md-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
                                    <input type="text" pInputText placeholder="Secondary phone" formControlName="phone2">         
                                </div>
                            </div>
                        </div>

                        <div class="p-grid p-fluid">
                            <div class="p-col-12 p-md-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
                                    <input type="text" pInputText placeholder="First email" formControlName="email1">         
                                </div>
                            </div>
                        </div>

                        <div class="p-grid p-fluid">
                            <div class="p-col-12 p-md-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
                                    <input type="text" pInputText placeholder="Second email" formControlName="email2">         
                                </div>
                            </div>
                        </div>

                        <div class="p-grid p-fluid">
                            <div class="p-col-8 p-md-8">
                                <div class="p-inputgroup">
                                    <input type="text" pInputText placeholder="Adress" formControlName="adress">         
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4" style="padding: 0.5rem !important;">
                                <div class="p-inputgroup">
                                    <input type="text" pInputText placeholder="ZIP" formControlName="postcode">         
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button pButton 
                                type="submit" 
                                label="Submit" 
                                data-toggle="modal" 
                                [disabled]="!newUserForm.valid"
                        ></button>
                        <button pButton 
                                type="text" 
                                label="Cansel" 
                                class="p-button-danger"
                                data-dismiss="modal"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
