<div class="main-wrapper">
  <section class="questions">
    <div class="row">
      <div class="row card"
           *ngFor="let user of userData"                                 
      >
        <div class="card-body">
          <h5 class="card-title">{{  user.name }}</h5>
          <div class="card-wrapper">
            <div class="line"></div>
            <div class="card-category-date">
              <p class="card-text" >{{  user.phone }}</p>
              <p class="card-text" >{{  user.email }}</p>
            </div>
          </div>
        </div>
        <div class="line-bottom"></div>
      </div>
    </div>
  </section>
</div>
<app-new-contact></app-new-contact>
