<!-- <div class="main-wrapper">
  <section class="questions" [style.background]="this.color">
    <div class="row">
      <div class="{{ tiledToggle }} card"
           [routerLink]="['/main', question.id]"
           *ngFor="let question of questionData | approved: admin
                                                | filterData: filterTerm
                                                | timeDuration: isTimePipeActive
                                                | answered: isAnswerActive
                                                | moderation: filterModeration :filterMyQuestions: unfilterQuestions :userId :email
                                                | sortData: isActive"                                  
      >
        <div class="card-body">
          <h5 class="card-title">{{  question.title }}</h5>
          <i class="fab fa-monero moderator" *ngIf="!question.approved"></i>
          <div class="card-wrapper">
            <div class="line"></div>
            <div class="card-category-date">
              <p class="card-text" ><strong>Category:</strong></p>
              <p class="card-date" [ngClass]="{ visible: tiled }">{{ question.currentDate | date:"dd.MM.yyyy hh:mm a" }}</p>
            </div>
            <div class="card-category">
              <ul>
                <li *ngFor="let technology of question.categories" class="card-text">{{ technology }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="line-bottom"></div>
      </div>
    </div>
    <button class="btn btn-primary plus"
            data-toggle="modal"
            data-target="#exampleModal"
            data-dismiss="modal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </section>
</div> -->
<app-new-contact></app-new-contact>
